body {
    background-color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
    text-align: center;
}

h1 {
    color: black;
    text-align: center;
}

h3 {
    color: black;
}

.parent {
  text-align: center;
}
.child {
  display: inline-block;
  vertical-align: middle;
}