<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<head>
    <meta charset="UTF-8">
    <title>PREDICT THE YEAR!</title>
</head>
<body>
<h3>Year Prediction Form</h3>

<!--BUG - Doesn't display properly when more than one artist is credited-->
<div>
    <form action="/result" method="POST" id="song_form">
        <label for="song_select">Pick a song!</label>
        <select id="song_select" name="song_select">
            {% for s in rand_songs %}
	            <OPTION value="{{ s }}">{{ s[18] }} " - " {{ s[16] }}</option>
            {% endfor %}
        </select>
    <br>
        <input type="submit" value="Submit">
    </form>
</div>
<br><br>

</div>
</body>
</html>